html {
background: rgb(2,0,36);
background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(2,0,36,1) 67%, rgba(0,82,14,1) 100%);
}

body {
    background-color: #1c1e21;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2c2f33;
    padding: 20px;
}

main {
    padding: 20px;
}

footer {
    background-color: #2c2f33;
    padding: 20px;
}
