        body {
            margin: 0;
            padding: 0;
            height: 200vh; /* At least twice the viewport height to test scrolling */
        }        
        .container {
            width: 100%;
            height: 100vh;
            background: rgb(2,0,36);
            background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(2,0,36,1) 67%, rgba(82,0,0,1) 100%);                url("Icon_Scarlet.webp") no-repeat fixed center;
            background-attachment: fixed;
            background-size:cover;
        }
        .gradient-text {
            font-size: 72px;
            background: linear-gradient(135deg, rgba(2, 0, 36, 1) 0%, rgba(139, 139, 139, 1) 60%, rgba(255, 255, 255, 1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fsteamcommunity.com%2Fsharedfiles%2Ffiledetails%2F%3Fid%3D2427252388%26searchtext%3D&psig=AOvVaw1Cpq5i8yU1fhzJa7Q97xjN&ust=1707333786460000&source=images&cd=vfe&opi=89978449&ved=0CBMQjhxqFwoTCIDB1ay4l4QDFQAAAAAdAAAAABAO")